* { /* Usarlo con cuidado (Consume muchos recursos) */    
    font-family: Arial, Helvetica, sans-serif;
}

/* Tipografías seguras (Quiere decir que todos los Sistemas operativos las tienen) */
/*
! Qué tipografía usar en las páginas web y aplicaciones en general

- Tipografías sin serif. Para cuerpos de texto, siempre tipografías sin serif

 */

/* 
    ! Selectores de etiquetas (h1, p, strong, em, ul, li) 
*/
/* regla css */
h1 { /* <---------- selector */
/* propiedad: valor */
    color: darkred; /* <------ declaración */
    /*             1        2      familia-tipografica */
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: blue;
    text-decoration: underline;
    font-style: italic;
}

h3 {
    color: darkgreen;
}

/* 
    ! Selector de clase. Puedo utilizarlo infinitivamente. Puedo incluso por elemento html tener varias clases (Para poder seleccionar una clase uso el punto)
*/

.subtitulo-especial {
    color: blueviolet;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
}
/* clases utilitarias (Una clase solo tiene una responsabilidad) */
.color-violeta {
    color: blueviolet;
}

.capitalizado {
    text-transform: capitalize; /* pone de cada palabra la inicial en mayuscula */
}

.mayusculas {
    text-transform: uppercase; /* pone todo en mayusculas */
}

.cursiva {
    font-style: italic;
}

